# Python
__pycache__/
*.py[cod]
*.class
.Python
build/
develop-eggs/
dist/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv/
venv/

# IDE
.idea/
.vscode/

# Logs
*.log

# Docker
docker-volumes/

# Test
.pytest_cache/
.coverage
